body.light {
  width: 100%;
  height: 100vh;
  background-color: #7d8f99 !important;
  color: black;
  .navbar {
    width: 100%;
    background-color: #7d8f99 !important;
  }
  .navbar-collapse{
    background-color: #7d8f99;
  }
  .dropdown-nav{
    background-color: #7d8f99;
  }
  .section1 {
    background-color: #7d8f99 !important;
  }
  .section1-rows {
    background-color: #7d8f99 !important;
  }
  .section2-page {
    background-color: #7d8f99 !important;
  }
  .section3 {
    background-color: #71818a !important;
  }
  .contact-page {
    background-color: #7d8f99;
  }
  .icon {
    .btn-globe {
      border: 0;
      background-color: #7d8f99;
    }
    .btn-wish {
      border: 0;
      background-color: #7d8f99;
    }
    .btn-cart {
      border: 0;
      background-color: #7d8f99;
      .icon-cart {
        color: #fff;
        text-align: right;
      }
    }
    .btn-search {
      border: 0;
      background-color: #7d8f99;
      .icon-search {
        color: #fff;
        text-align: right;
      }
    }
    .btn-lang {
      border: 0;
      background-color: #7d8f99;
    }
    .btn-mode {
      border: 0;
      background-color: #7d8f99;
    }
    .btn-bars {
      width: 0;
      border: 0;
      background-color: #7d8f99;
      .icon-bars {
        color: #fff;
        text-align: right;
      }
    }
    .btn-wish{
      background-color: #7d8f99 !important;
    }
    .login-btn{
      background-color: #fff !important;
      color: #7d8f99;
    }
  }

  .hpg-cards {
    background-color: #7d8f99;
  }
  .btn-cart-hpg {
    background-color: #7d8f99;
  }
  .card-body-hpg:hover {
    background-color: #7d8f99;
  }

  .section4-page {
    background-color: #7d8f99;
  }
  .section5-page {
    background-color: #7d8f99;
  }
  .section6-page {
    background-color: #71818a;
  }

  .btn-section6 {
    background-color: #71818a !important;
  }
  .button-section6 {
    background-color: #71818a !important;
  }
  .card-section6 {
    background-color: #71818a !important;
  }
  .card-body-section6 {
    background-color: #71818a !important;
  }
  .section1-footer {
    background-color: #71818a !important;
  }
  .section2-footer {
    background-color: #71818a !important;
  }
  .about-page {
    background-color: #7d8f99;
  }
  .con-section-about {
    background-color: #7d8f99;
  }
  .section1-about {
    background-color: #7d8f99;
  }
  .card-about {
    background-color: #7d8f99 !important;
  }
  .card-body-about {
    background-color: #7d8f99 !important;
    padding: 0;
  }
  .col-card {
    background-color: #7d8f99 !important;
    padding: 0;
  }
  .card-title-about {
    background-color: #7d8f99 !important;
    padding: 0;
    h2 {
      background-color: #7d8f99 !important;
      padding: 0;
    }
    .text-card {
      background-color: #7d8f99 !important;
      padding: 0;
    }
    .img2-about {
      background-color: #7d8f99 !important;
    }
    
    td {
      .btn-cart {
        background-color: #7d8f99 !important;
      }
    }
    .blogs-page {
      background-color: #7d8f99;
    }
  }
  .section2-about {
    background-color: #71818a !important;
  }
  .section3-about {
    background-color: #7d8f99 !important;
  }
  .shop-page {
    background-color: #7d8f99;
  }
  .faq-page {
    background-color: #7d8f99 !important;
  }
  
  .img2-about {
    background-color: #7d8f99 !important;
  }
  
  td {
    .btn-cart {
      background-color: #7d8f99 !important;
    }
  }
  .blogs-page {
    background-color: #7d8f99;
  }
}


