.table-dashboard{
    height: auto;
    color: aliceblue;
    width: 100%;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.btn-add{
    background-color: #2b2a31;
    border-radius: 0;
    border-color: #ffffff30;
}
.btn-add:hover{
    background-color: #d4bd92;
}