.productdetails-page{
    width: 100%;
    height: 130vh;
    .con-productdetails{
        width: 70%;
    }
    .card1-productdetails{
        width: 500px;
        background-color: #2b2a31;
        border: 0;
        top: 150px;
    }
    .card1-body-productdetails:hover{
        background-color: #2b2a31;
    }
    .card2-productdetails{
        top: 100px;
        width: 470px;
        height: 530px;
        background-color: #2b2a31;
        border-color: #ffffff30;
        border-radius: 0;
    }
    .card2-productdetails-img{
        width: 400px;
        height: 400px;
        margin: auto;
      
    }
    .button-productdetails{
        width: 170px;
        height: 60px;
        background-color: #2b2a31;
        border-color: #ffffff30;
        border-radius: 0;
        font-size: 20px;
    }
    .button-productdetails:hover{
        background-color: #d4bc92;
        color: #2b2a31;
    }
    .product-title{
        height: 90px;
        color: #fff;
        font-size: 50px;
    }
   
    .staricon{
        color: #d4bc92;
        
    }
    .card-price{
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        color: #d4bc92;
    }
    .card-text-icons{
        width: auto;
        margin-left: auto;
        
    }
    .icon-productdetails{
        width: 70px;
        cursor: pointer;
    }
    .icon-productdetails:hover{
        color: #d4bc92;
        cursor: pointer;
    }
    .cardbody-productdetails:hover{
        background-color: #2b2a31;
    }
   
}